body {
	background-color: #000000;
	padding: 0px;
	color: #3399FF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: arial, geneva, helvetica, sans-serif;
	font-size: 10px;
}

form {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 10pt
}

A:link {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: #3399FF
}

A:visited {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: #3399FF
}

A:hover {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 10pt;
	text-decoration: underline;
	color: #3399FF
}

input {
	font-size: 8pt;
	font-family: Tahoma;
	color: #3399FF;
	background-color: #000000;
	border: 1px solid #3399FF;
}

input.c {
	border: none;
}

.cellbg {
	background: url(g/cellblack.png) repeat;
	color: #ffffff;
	font-size: 12px;
}