body {
	font-family: Arial, helvetica, geneva, sans-serif;
	color: #89d0d9;
	font-size: 11px;
	background-image: url(g/bgr2_1.jpg);
	background-position: 209px 0px;
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #000000;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

a:link {
	text-decoration: none;
	cursor: pointer;
	color: #89d0d9;
	font-size: 14px;
}

a:active {
	text-decoration: none;
	cursor: pointer;
	color: #89d0d9;
	font-size: 14px;
}

a:visited {
	text-decoration: none;
	cursor: pointer;
	color: #89d0d9;
	font-size: 14px;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #89d0d9;
	font-size: 14px;
	font-weight: bold;
}

#content {
	float: none;
	width: 209px;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

#gig1 {
	background: url(g/m/2_gig1.png);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 89px;
	left: 18px;
	cursor: pointer;
	z-index: 20;
}

#gig2 {
	background: url(g/m/2_gig2.png);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 89px;
	left: 134px;
	cursor: pointer;
	z-index: 20;
}

#menumain {
	z-index: 20;
	position: absolute;
	left: 40px;
	width: 121px;
	height: 500px;
	overflow: hidden;
	margin-top: 207px;
	margin-bottom: 400px;
}

#menubtns {
	z-index: 21;
	position: absolute;
	left: 0px;
	width: 121px;
	overflow: hidden;
}

.m1 {
	background: url(g/m/2_menu1.png);
	background-repeat: no-repeat;
	width: 203px;
	height: 400px;
	position: absolute;
	top: 0px;
	z-index: 10;
}

.m2 {
	background: url(g/m/2_menu2.png);
	background-repeat: repeat;
	width: 203px;
	height: 80%;
	position: absolute;
	top: 70px;
	bottom: 100px;
	z-index: 1;
}

.m3 {
	background: url(g/m/2_menu3.png);
	background-repeat: no-repeat;
	width: 203px;
	height: 312px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}

A.btn:link,
A.btn:visited,
A.btn:hover {
	background: url(g/m/2_btn.png);
	display: block;
	cursor: pointer;
	width: 121px;
	height: 18px;
	padding-top: 0px;
	text-align: center;
	background-repeat: no-repeat;
	margin-top: 2px;
	z-index: 20;
}

.btnspacer {
	width: 118px;
	height: 8px;
	font-size: 8px;
}

#btnup1 {
	background: url(g/m/2_btnup1.png);
	width: 56px;
	height: 26px;
	position: absolute;
	top: 177px;
	left: 71px;
	z-index: 15;
}

#btnup2 {
	background: url(g/m/2_btnup2.png);
	width: 56px;
	height: 26px;
	position: absolute;
	top: 177px;
	left: 71px;
	visibility: hidden;
	z-index: 16;
}

#btndown1 {
	background: url(g/m/2_btndown1.png);
	width: 56px;
	height: 26px;
	position: absolute;
	bottom: 99px;
	left: 71px;
	z-index: 15;
}

#btndown2 {
	background: url(g/m/2_btndown2.png);
	width: 56px;
	height: 26px;
	position: absolute;
	bottom: 99px;
	left: 71px;
	visibility: hidden;
	z-index: 16;
}