body {
	font-family: Arial, helvetica, geneva, sans-serif;
	color: #ed951e;
	font-size: 11px;
	background-image: url(g/bgr4_1.jpg);
	background-position: 209px 0px;
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #000000;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

a:link {
	text-decoration: none;
	cursor: pointer;
	color: #ed951e;
	font-size: 14px;
}

a:active {
	text-decoration: none;
	cursor: pointer;
	color: #ed951e;
	font-size: 14px;
}

a:visited {
	text-decoration: none;
	cursor: pointer;
	color: #ed951e;
	font-size: 14px;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #ed951e;
	font-size: 14px;
	font-weight: bold;
}

#content {
	float: none;
	width: 209px;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

#gig1 {
	background: url(g/m/4_gig1.png);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 116px;
	left: 45px;
	cursor: pointer;
	z-index: 20;
}

#gig2 {
	background: url(g/m/4_gig2.png);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 116px;
	left: 116px;
	cursor: pointer;
	z-index: 20;
}

#menumain {
	z-index: 20;
	position: absolute;
	left: 46px;
	width: 118px;
	height: 500px;
	overflow: hidden;
	margin-top: 240px;
	margin-bottom: 400px;
}

#menubtns {
	z-index: 21;
	position: absolute;
	left: 0px;
	width: 118px;
	overflow: hidden;
}

.m1 {
	background: url(g/m/4_menu1.png);
	background-repeat: no-repeat;
	width: 209px;
	height: 400px;
	position: absolute;
	top: 0px;
	z-index: 10;
}

.m2 {
	background: url(g/m/4_menu2.png);
	background-repeat: repeat;
	width: 209px;
	height: 80%;
	position: absolute;
	top: 70px;
	bottom: 100px;
	z-index: 1;
}

.m3 {
	background: url(g/m/4_menu3.png);
	background-repeat: no-repeat;
	width: 209px;
	height: 301px;
	position: absolute;
	bottom: 0px;
	z-index: 5;
}

A.btn:link,
A.btn:visited,
A.btn:hover {
	background: url(g/m/4_btn.png);
	display: block;
	cursor: pointer;
	width: 118px;
	height: 17px;
	padding-top: 0px;
	text-align: center;
	background-repeat: no-repeat;
	margin-top: 3px;
	z-index: 20;
}

.btnspacer {
	width: 118px;
	height: 8px;
	font-size: 8px;
}

#btnup1 {
	background: url(g/m/4_btnup1.png);
	width: 54px;
	height: 25px;
	position: absolute;
	top: 204px;
	left: 77px;
	z-index: 15;
}

#btnup2 {
	background: url(g/m/4_btnup2.png);
	width: 54px;
	height: 25px;
	position: absolute;
	top: 204px;
	left: 77px;
	visibility: hidden;
	z-index: 16;
}

#btndown1 {
	background: url(g/m/4_btndown1.png);
	width: 54px;
	height: 25px;
	position: absolute;
	bottom: 66px;
	left: 77px;
	z-index: 15;
}

#btndown2 {
	background: url(g/m/4_btndown2.png);
	width: 54px;
	height: 25px;
	position: absolute;
	bottom: 66px;
	left: 77px;
	visibility: hidden;
	z-index: 16;
}